/*.wrapper{
    overflow: hidden;
}*/
/*-- Effects onscroll --*/
.slide{
    transform: translate3d(0, 200px, 0);
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    visibility: hidden;
}

.slide.slide-up{
    -webkit-transform: translate3d(0, -200px, 0);
    -moz-transform: translate3d(0, -200px, 0);
    -ms-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
}

.slide.slide-right{
    -webkit-transform: translate3d(200px, 0, 0);
    -moz-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
}

.slide.slide-left{
    -webkit-transform: translate3d(-200px, 0, 0);
    -moz-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
}

.slide.already-visible,
.slide.come-in {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    transition: visibility 800ms ease, transform 800ms ease;
    -webkit-transition: visibility 800ms ease, transform 800ms ease;
    -moz-transition: visibility 800ms ease, transform 800ms ease;
    -ms-transition: visibility 800ms ease, transform 800ms ease;
    visibility: visible;
}